Python Collections (Arrays)
There are four collection data types in the Python programming language:

List: is a collection which is ordered and changeable. Allows duplicate members.
Tuple: is a collection which is ordered and unchangeable. Allows duplicate members.
Set: is a collection which is unordered, unchangeable, and unindexed. No duplicate members.
Dictionary: is a collection which is ordered and changeable. No duplicate members.

In [ ]:
l1=[1,2,3,4,5,6,7,8,9,2,3,4,4,4]
l2=[1.2,3.4,4.5]
l3=["abc","pqr","xyz"]
l4=["sana",123, 8.9,[78,87,56,[1,2,3,4,5,],97]]
#print(l4[3][3][3])
#print(l4[-1][-2][-2])
print(l1.count(4))

In [ ]:
print(l1)
a=l1.pop(3)
print(l1)
print(a)

len()
del
pop(index)
remove(value)
append()
insert()
reverse(value)
sorted(list,reverse=TRUE)
sort()
append() and extend()
count(value)

In [ ]:
len(l4)

In [ ]:
print(l4)
l4.append("alpha")
print(l4)

In [ ]:
l5=list()
for i in range(1,3):
    print("Enter element:")
    l5.append(input())
print(l5)

l5.extend([20,50])
print(l5)

In [ ]:
l1.insert(1,12)
print(l1)

In [ ]:
l1.reverse()
print(l1)

In [ ]:
l1=[1,2,4,7,3,5]
print(l1)
print(sorted(l1,reverse=True))
print(l1)

List having Multiple References

In [ ]:
#String Split to create a list

str="asd,gh,ykik,etr,oiiol"
l1=str.split('k')
print(l1)

List Slicing

#List extend using "+"

In [ ]:
l1=[1,2,3,4]
l2=[6,7,8,9]
print(l1+l2)

list looping
 and List Comprehensions

In [ ]:
#loop through the list
l=['abc','def','ghi','jkl']
for i in l:
    print(i)

List Comprehension
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [1]:
# List of squares of the numbers without list Comprehensions
sqr=list()
for i in range(10):
    sqr.append(i**2)
print(sqr)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [2]:
# List of squares of the numbers with list Comprehensions
square=[i**2 for i in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
# create a new list with values doubled
s=[i*2 for i in range(10)]
print(s)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [7]:
# filter the list to exclude negative numbers
l=[-2,-1,5,6,8]
p=[i for i in l if i>0]
print(p)

[5, 6, 8]

In [9]:
# create a list of tuples like (i,i**2)
square=[(i,i**2) for i in range(10)]
print(square)

[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [10]:
# Transpose of a matrix without list comprehension

mat=[[1,2,3],[5,6,7],[8,9,10]]
tmat=[]

for i in range(3):
    lst=[]
    for row in mat:
        lst.append(row[i])
    tmat.append(lst)
print(tmat)

[[1, 5, 8], [2, 6, 9], [3, 7, 10]]

In [11]:
# Transpose of a matrix with list comprehension
transpose=[[row[i] for row in mat] for i in range(3)]
print(transpose)

[[1, 5, 8], [2, 6, 9], [3, 7, 10]]

# Tuples
Tuples are used to store multiple items in a single variable.
A tuple is a collection which is ordered and unchangeable(immutable).

Tuples are written with round brackets.

In [ ]:
# empty tuple
t=()
#or
t=tuple()

In [ ]:
# tuple having integers
t=(1,2,3,4,5,6,7,8,9)
print(t)

In [12]:
# tuple with mixed datatypes
t1=('a',1,2.5,"abc")
print(t1)

('a', 1, 2.5, 'abc')

In [18]:
# nested tuple
t2=(1,(2,3,4,(5,6,7,8),[9,"abc",50.5,40]))
print(t2[1][3][0])

5

In [ ]:
# accessing elements in tuple

In [19]:
t=('abc')
type(t)

str

In [20]:
t=('abc',)
type(t)

tuple

In [21]:
t='abc',
type(t)

tuple

In [22]:
# slicing
t=(1,2,3,4,5,6,7)
print(t[1:4])
print(t[:-2])
print(t[:])

(2, 3, 4)
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7)

In [23]:
# Changing a tuple
t=(1,2,3,4,5,6,7)
t[1]='a'

TypeError: 'tuple' object does not support item assignment

In [25]:
t=(1,2,3,4,'a',6.8,[5,6,7])
t[6][2]='abc'
print(t)

(1, 2, 3, 4, 'a', 6.8, [5, 6, 'abc'])

In [26]:
t=(1,2,3)+(4,5,6,7)
print(t)

(1, 2, 3, 4, 5, 6, 7)

In [27]:
t=(("abc",)*5)
print(t)

('abc', 'abc', 'abc', 'abc', 'abc')

In [29]:
# Tuple Deletion
t=(1,2,3,4,5,6)
del t
print(t)

NameError: name 't' is not defined

In [30]:
# Tuple Count
t=(1,2,3,4,1,2,2,3,4,4,4)
t.count(1)

2

In [31]:
print(t.index(3))

2

In [32]:
print(1 in t)
print(0 in t)

True
False

In [33]:
print(len(t))

11

In [34]:
t=(4,5,1,2,3)
st=sorted(t)
print(st)

[1, 2, 3, 4, 5]

In [35]:
print(max(t))
print(min(t))
print(sum(t))

5
1
15

# Sets
A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements. 

Set are represented by { } 

Since sets are unordered, we cannot access items using indexes as we do in lists.

## Set Creation

In [36]:
# initialization of a set
s=set()
print(type(s))

<class 'set'>

In [38]:
# set of integers
s={1,2,3,4,5,6,7,8,9,1}
print(s)
print(type(s))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
<class 'set'>

In [39]:
# set doesn't allow duplicates.
s={1,1,2,2,3,4}
print(s)

{1, 2, 3, 4}

In [41]:
# we can make set from a list
s=set([1,1,2,2,3,4])
print(s)

{1, 2, 3, 4}

## Add elements to a Set

In [42]:
# we can add single element using add() method and 
# we can add multiple elements using update() 
# method

s={1,2,3,4}
print(s[1])

TypeError: 'set' object is not subscriptable

In [43]:
# add element
s={1,2,3,4}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [44]:
s.update([6,7,8,9])
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [45]:
s.update([6,8,10,11],{1,2,12,14})
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14}

## Remove elements from a Set

In [46]:
# A perticular item can be removed from set using methods, 
# discard() and remove().
s={1,2,3,4}
print(s)
s.discard(4)
print(s)
s.remove(3)
print(s)

{1, 2, 3, 4}
{1, 2, 3}
{1, 2}

In [47]:
s={1,2,3,4}
s.remove(5)
print(s)

KeyError: 5

In [48]:
s.discard(5)
print(s)

{1, 2, 3, 4}

In [49]:
# we can remove item using pop() method
s={1,2,3,4,5,6}
a=s.pop()
print(s)
print(a)

{2, 3, 4, 5, 6}
1

In [50]:
# remove all elements in set using clear() function
s={1,2,3,4,5,6}
s.clear()
print(s)

set()

## Python Set Operations

In [53]:
# Union of 2 sets using | operator
s1={1,2,3,4,5,6}
s2={3,4,5,6,7,8,9,10}

print(s1 | s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [54]:
# another way of getting union of 2 sets
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [55]:
# intersection of sets using & operator
print(s1 & s2)

{3, 4, 5, 6}

In [56]:
# another way of getting intersection of 2 sets
print(s1.intersection(s2))

{3, 4, 5, 6}

In [58]:
# Set Difference: Set of elements that are only in set1 but not in set 2.
print(s2-s1)

{8, 9, 10, 7}

In [59]:
print(s1.difference(s2))

{1, 2}

In [60]:
# Symetric difference function
print(s1.symmetric_difference(s2))

{1, 2, 7, 8, 9, 10}

In [61]:
# issubset()
s1={1,2,3,4,5,6}
s2={2,4,6}
print("Is s2 subset of s1?",s2.issubset(s1))
print("Is s1 subset of s2?",s1.issubset(s2))

Is s2 subset of s1? True
Is s1 subset of s2? False

## Frozen Sets
Frozen sets are immutable sets.
Created using function frozenset().
Sets are mutable, so they can't be used as dictionary keys. But frozensets are immutable so can be used as keys to a dictionary.

It supports methods like
copy()
difference()
union()
intersection()
isdisjoint()
issubsrt()
issuperset()
symmetric_difference()
being immutable it does not have methods that add and remove elements.

In [62]:
s1=frozenset([1,2,3,4,5])
s2=frozenset([4,5,6,7])
s1.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

## Dictionary
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered, changeable and do not allow duplicates.

As of Python version 3.7, dictionaries are ordered. In Python 3.6 and earlier, dictionaries are unordered.

Dictionaries are written with {} (curly brackets).

In [63]:
# Dictionarie Creation
#empty dictionary
d1={}
#or
d=dict()

In [64]:
#dictionary with integer keys
d1={1:"one",2:"two",3:"three",4:"four",5:"five"}
print(d1)

{1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

In [65]:
#dictionary with mixed keys
d1={'name':'Radhika', 1:['abc','pqr'],'per':77.50}
print(d1)

{'name': 'Radhika', 1: ['abc', 'pqr'], 'per': 77.5}

In [66]:
# create dictionary with list of tuples
d2=dict([(1,'abc'),(2,'pqr'),(3,'uvw'),(4,'str')])
print(d2)

{1: 'abc', 2: 'pqr', 3: 'uvw', 4: 'str'}

In [67]:
# Dictionari Access
d4={'name':'Radhika','age':21,'marks':[78,76,68,82]}
print(d4['name'])
print(d4['age'])
print(d4['marks'])

Radhika
21
[78, 76, 68, 82]

In [68]:
print(d4['per'])

KeyError: 'per'

In [69]:
# another way to access key
print(d4.get('name'))
print(d4.get('marks'))

Radhika
[78, 76, 68, 82]

In [70]:
print(d4.get('per'))

None

In [71]:
# Dictionary Add and Modify elements
d4={'name':'Radhika','age':21,'marks':[78,76,68,82]}
d4['name']='Nikita'
print(d4)

{'name': 'Nikita', 'age': 21, 'marks': [78, 76, 68, 82]}

In [72]:
d4['address']='Pune'
print(d4)

{'name': 'Nikita', 'age': 21, 'marks': [78, 76, 68, 82], 'address': 'Pune'}

In [73]:
# Dictionary Delete or Remove Element
d4={'name':'Radhika','address':'Pune','age':21,'marks':[78,76,68,82]}
print(d4.pop('address'))
print(d4)

Pune
{'name': 'Radhika', 'age': 21, 'marks': [78, 76, 68, 82]}

In [74]:
# Dictionary Delete or Remove any arbitary key Element
d4={'name':'Radhika','age':21,'marks':[78,76,68,82]}
d4.popitem()
print(d4)

{'name': 'Radhika', 'age': 21}

In [75]:
# another way to delete particular key
d4={'name':'Radhika','age':21,'marks':[78,76,68,82]}
del d4['marks']
print(d4)

{'name': 'Radhika', 'age': 21}

In [76]:
# remove all the items
d4.clear()
print(d4)

{}

In [77]:
d4={'name':'Radhika','age':21,'marks':[78,76,68,82]}
del d4
print(d4)

NameError: name 'd4' is not defined

## Dictionary Methods

In [78]:
d4={'name':'Radhika','age':21,'marks':[78,76,68,82]}
d5=d4.copy()
print(d5)

{'name': 'Radhika', 'age': 21, 'marks': [78, 76, 68, 82]}

In [79]:
x = ('key1', 'key2', 'key3')
y = 0
d6 = dict.fromkeys(x, y)
print(d6)

{'key1': 0, 'key2': 0, 'key3': 0}

In [80]:
x = ('key1', 'key2', 'key3')
d6 = dict.fromkeys(x)
print(d6)

{'key1': None, 'key2': None, 'key3': None}

In [81]:
#The items() method returns a view object. 
#The view object contains the key-value pairs of the dictionary, 
#as tuples in a list.
car = {"brand": "Ford","model": "figo","year": 2011}
x = car.items()
print(x)

dict_items([('brand', 'Ford'), ('model', 'figo'), ('year', 2011)])

In [82]:
car = {"brand": "Ford","model": "figo","year": 2011}
x = car.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [83]:
car = {"brand": "Ford","model": "figo","year": 2011}
x = car.values()
print(x)

dict_values(['Ford', 'figo', 2011])

In [84]:
d7={}
print(dir(d7))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

## Dictionary Comprehension

In [86]:
# Python code to demonstrate dictionary comprehension

# Lists to represent keys and values
keys = ['a','b','c','d','e']
values = [1,2,3,4,5] 

# but this line shows dict comprehension here 
#myDict = { k:v for (k,v) in zip(keys, values)} 

# We can use below too
myDict = dict(zip(keys, values)) 

print (myDict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [87]:
d={'a':1, 'b':2, 'c':3}
for pair in d.items():
    print(pair)

('a', 1)
('b', 2)
('c', 3)

In [88]:
d={'a':1, 'b':2, 'c':3, 'd':4}
d1={k:v for k,v in d.items() if v>2}
print(d1)

{'c': 3, 'd': 4}

In [89]:
dic=dict.fromkeys(range(5), True)
print(dic)

{0: True, 1: True, 2: True, 3: True, 4: True}

# Strings

A string is a sequence of characters.
It is immutable.
Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [1]:
s=str()

In [2]:
str='Hello World'
print(str)
str1="Hello"
print(str1)

Hello World
Hello

In [3]:
str='''Hello World
How are you?'''
print(str)

Hello World
How are you?

In [4]:
str1="""Hello
Hi"""
print(str1)

Hello
Hi

In [5]:
# Square brackets can be used to access elements of the string.
a = "Hello, World!"
print(a[1])
print(a[-1])
print(a[2:10:2])

e
!
lo o

In [6]:
print(a[20])

IndexError: string index out of range

In [7]:
print(a[2.5])

TypeError: string indices must be integers, not 'float'

In [11]:
str3="String"
del str3
print(str3)

NameError: name 'str3' is not defined

In [12]:
s1="Hello"
s2="World"
print(s1+s2)
print(s1*3)

HelloWorld
HelloHelloHello

In [13]:
c=0
for i in "Hello World":
    if (i == "o"):
        c+=1
print(c)

2

In [14]:
print('l' in "Hello World")

True

In [15]:
print('ll' in "Hello World")

True

In [16]:
"Hello World".lower()

'hello world'

In [17]:
"Hello World".upper()

'HELLO WORLD'

In [19]:
"Hello World, This is split operation".split(',')

['Hello World', ' This is split operation']

In [20]:
' '.join(['H','e','l','l','o','!'])

'H e l l o !'

In [21]:
'-'.join(['H','e','l','l','o','!'])

'H-e-l-l-o-!'

In [22]:
"Hello World".find("ll")

2

In [ ]:
"Hello World".replace("World","COEP")

In [23]:
s1="Good Morning"
s2=s1.replace("Good","Happy")
print(s1)
print(s2)

Good Morning
Happy Morning

In [47]:
# Python program to check whether the string is palindrom or not?
str6='madam'
str=str6.lower()
print(str)
print(type(str))
rev=reversed(str)
print(type(rev))
if list(str)==list(rev):
    print("Palimdrom")
else:
    print("Not Palimdrom")

madam
<class 'str'>
<class 'reversed'>
Palimdrom

In [64]:
# Python program to sort words in alphabetic order?
str="b a c aa hello world this is split operation"
s1=str.split()
s=sorted(s1)
print(s)

['a', 'aa', 'b', 'c', 'hello', 'is', 'operation', 'split', 'this', 'world']